.app {
  text-align: center;
  margin: 50px;
  overflow: hidden;
}

h1 {
  margin-bottom: 30px;
}

.tabs {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 30px; 
  border-bottom: 1px solid gray; 
  padding: 0 20px; 
}

.tabs button {
  margin-right: 10px;
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  font-size: 18px;
  position: relative; 
}

.tabs button::after {
  content: "";
  position: absolute;
  bottom: -2px; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 100px; 
  height: 3px;
  background-color: blue;
  display: none; 
}

.tabs button.active::after, .tabs button:hover::after {
  display: block;
}

.add-todo {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.add-todo input {
  flex: 1; /* Spread the text box to full width */
  padding: 15px;
  margin-right: 10px;
  border: 1px solid rgba(128, 128, 128, 0.5); 
  border-radius: 7px;
}

.add-todo button {
  padding: 15px 20px;
  cursor: pointer;
  background-color: blue;
  color: white; /* Set the text color to white */
  border: none;
  border-radius: 10px;
}

.delete-all-btn {
  bottom: 20px;
  right: 20px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  float: right;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content:baseline;
  align-items: center;
  margin: 15px;
  gap:5px;
}

.delete-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: gray;
  margin-left: auto; 
}

.completed {
  text-decoration: line-through;
}

